@page
@model PrivacyModel
@{
    ViewData["Title"] = "Gestion des agents de ventes";
}
<h1>@ViewData["Title"]</h1>

<p>Module de gestion des Agents de ventes (Ajouter/Suppression/Mise à jour).</p>
@{
    string action = "";
    int idagent = 0;
    Agentvente leAgentvente = null;
    if (! string.IsNullOrEmpty(Request.Query["action"]))
    {
        action = Request.Query["action"];
        idagent = Int16.Parse(Request.Query["idagent"]);
        if(action.Equals("sup"))
        {
            Controleur.DeleteAgentvente(idagent);
        }
        else if (action.Equals("edit"))
        {
            leAgentvente = Controleur.SelectWhereAgentvente(idagent);

        }
    }
}
<form method="post">
    <table>
        <tr>
            <td>Nom : </td>
            <td><input type="text" name="nom" value="@Html.Raw((leAgentvente==null)?"":leAgentvente.Nom)" /></td>
        </tr>
        <tr>
            <td>Prénom : </td>
            <td><input type="text" name="prenom" value="@Html.Raw((leAgentvente==null)?"":leAgentvente.Prenom)" /></td>
        </tr>
        <tr>
            <td>Email : </td>
            <td><input type="text" name="email" value="@Html.Raw((leAgentvente==null)?"":leAgentvente.Email)" /></td>
        </tr>
        <tr>
            <td>MDP : </td>
            <td><input type="password" name="mdp" value="@Html.Raw((leAgentvente==null)?"":leAgentvente.Mdp)" /></td>
        </tr>
        <tr>
            <td>Secteur d'activité : </td>
            <td><input type="text" name="departement" value="@Html.Raw((leAgentvente==null)?"":leAgentvente.Departement)" /></td>
        </tr>
        <tr>
            <td>Commission : </td>
            <td><input type="number" name="commission" value="@Html.Raw((leAgentvente==null)?"":leAgentvente.Commission)" /></td>
        </tr>
        <tr>
            <td><input type="reset" name="Annuler" value="Annuler" /></td>
            <td><input type="submit"
                @Html.Raw((leAgentvente == null) ? " name='Valider' value='Valider' " : " name='Modifier' value='Modifier' ") /></td>
        </tr>
    </table>
</form>
@{
    string nom, prenom, email, mdp, departement;
    float commission ;
    string message = "";
    if (Request.Method == "POST" && !string.IsNullOrEmpty(Request.Form["Modifier"]))
    {
        idagent = Int16.Parse(Request.Query["idagent"]);
        nom = Request.Form["nom"];
        prenom = Request.Form["prenom"];
        email = Request.Form["email"];
        mdp = Request.Form["mdp"];
        departement = Request.Form["departement"];
        List<string> donnees = new List<string>();
        donnees.Add(nom);
        donnees.Add(prenom);
        donnees.Add(email);
        donnees.Add(mdp);
        donnees.Add(Request.Form["commission"]);
        if (Controleur.ControlerDonnees(donnees))
        {
            try
            {
                commission = float.Parse(Request.Form["commission"]);
            }
            catch (NotFiniteNumberException exp)
            {
                commission = 2;
            }
            Agentvente unAgentvente = new Agentvente(idagent, nom, prenom, email, mdp, departement, commission);
            Controleur.UpdateAgentvente(unAgentvente);
            message = "Modification réussie de l'agent de vente.";
        }
        else
        {
            message = "Veuillez remplir tous les champs.";
        }

    }
    if (Request.Method == "POST" && !string.IsNullOrEmpty(Request.Form["Valider"]))
    {
        nom = Request.Form["nom"];
        prenom = Request.Form["prenom"];
        email = Request.Form["email"];
        mdp = Request.Form["mdp"];
        departement = Request.Form["departement"];
        List<string> donnees = new List<string>();
        donnees.Add(nom);
        donnees.Add(prenom);
        donnees.Add(email);
        donnees.Add(mdp);
        donnees.Add(Request.Form["commission"]);
        if (Controleur.ControlerDonnees(donnees))
        {
            try{
                commission = float.Parse(Request.Form["commission"]);
            }
            catch (NotFiniteNumberException exp)
            {
                commission = 2;
            }
            Agentvente unAgentvente = new Agentvente(nom, prenom, email, mdp, departement, commission);
            Controleur.InsertAgentvente(unAgentvente);
            message = "Insertion réussie de l'agent de vente.";
        }
        else
        {
            message = "Veuillez remplir tous les champs.";
        }

    }
}
@Html.Raw(message)

Filtre : <form method="post">
    <input type="text" name="filtre" />
    <input type="submit" name="Filtrer" value="Filtrer" />
</form>
<br />


<table border="1">
    <tr>
        <td>Id Personne </td>
        <td>Nom </td>
        <td>Prénom </td>
        <td>Email </td>
        <td>Departement </td>
        <td>Commission </td>
        <td>Operations </td>
    </tr>

    @{


        string chaine = "";
        List<Agentvente> lesAgentvente = null;
        if (Request.Method == "POST" && !string.IsNullOrEmpty(Request.Form["Filtrer"]))
        {
            string filtre = Request.Form["filtre"];
            lesAgentvente = Controleur.SelectLikeAgentvente(filtre);
        }
        else
        {

            lesAgentvente = Controleur.SelectAllAgentvente();
        }
        foreach (Agentvente unCom in lesAgentvente)
        {
            chaine += "<tr><td>" + unCom.IdAgent + "</td>";
            chaine += "<td>" + unCom.Nom + "</td>";
            chaine += "<td>" + unCom.Prenom + "</td>";
            chaine += "<td>" + unCom.Email + "</td>";
            chaine += "<td>" + unCom.Departement + "</td>";
            chaine += "<td>" + unCom.Commission + "</td>";
            chaine += "<td>";

            chaine += "<a href='Agentvente?action=sup&idagent=" + unCom.IdAgent + "'> Supprimer </a>";
            chaine += "<a href='Agentvente?action=edit&idagent=" + unCom.IdAgent + "'> Update </a>";
            chaine += "</td>";
            chaine += "</tr>";
        }
    }

    @Html.Raw(chaine)
</table>